<!DOCTYPE html>
<html>
<head>
    <title>Fastify with EJS</title>
    <script src="/management_build/central_branch/central_branch.js" defer></script>
</head>
<body>
    <h1><%= text %></h1>
    <div id="app"></div>
</body>
</html>