.table {
    width: 100%;

    tr {

        td,
        th {
            white-space: nowrap;
            padding: 13px;
        }
    }

    &.table-bordered {
        tr {

            td,
            th {
                border: 1px solid var(--brand_color2);
            }
        }
    }
}

.quick_modal_table {
    tr{
        td,
        th {
            color: var(--brand_white);
            &:nth-child(1){
                border-right: 0;
                text-align: left;
            }
            &:nth-child(2){
                border-right: 0;
                border-left: 0;
                width: 3px;
                padding: 13px 0px;
            }
            &:nth-child(3){
                border-left: 0;
            }
        }
    }
}